<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="../static/styles.css" rel="stylesheet">
        <title>My Webpage</title>
    </head>
    <body>

        <!-- this is a navbar from boostrap -->
        <nav class = "navbar navbar-expand-md navbar-light bg-light border">
            <ul class = "navbar-nav mr-auto mt-2">

                <li class="nav-item">
                    <a class ="nav-link" href="index.html">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class ="nav-link" href="quotes.html">
                        Quotes
                    </a>
                </li>

                <li class="nav-item">
                    <a class ="nav-link" href="books.html">
                        Books
                    </a>
                </li>

                <li class="nav-item">
                    <a class ="nav-link" href="/sentencer">
                        Sentencer
                    </a>
                </li>

            </ul>
        </nav>

        <h1>Welcome to ______! Please log in with your Spotify login below:</h1>

        <h4>This is a picture of Whistler Mountain, my favorite mountain to ski on and a place
            I miss very dearly!
        </p>

        <p>
            On this website, you'll find an amalgamation of things that make me happy.
            On the "quotes" page, you'll find some quotes from my favourite authors,
            and on the "books" page, you'll find my ratings of some books that I've recently
            read. On the "daily quiz" page, I've uploaded a question I really want to remember the
            answer to, and I'll quiz myself by returning to this page each day and completing the question!
        </p>

    </body>
</html>