{% extends "layout.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block main %}
    <h1>
      Sign up for Music Match below:
    </h1>
    <h2>
      <div>
        <input class="textbox" type="text" id="first_name" placeholder="First Name"><br><br>
        <input class="textbox" type="text" id="last_name" placeholder="Last Name"><br><br>
        <input class="textbox" type="text" id="email" placeholder="Email"><br><br>
        <input class="textbox" type="text" id="password" placeholder="Password"><br><br>
        <input class="textbox" type="text" id="confirmation" placeholder="Re-Type Password"><br><br>
      </div>
      <div>
        <button class= "button" id="Submit">Submit!</button>
      </div>
    </h2>
{% endblock %}