<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="styles.css" rel="stylesheet">
        <title>My Webpage</title>
        <script>

        // run script once dom is loaded
        document.addEventListener('DOMContentLoaded', function() {

            //elements with class correct
            let corrects = document.querySelectorAll('.correct');

            for (let i = 0; i < corrects.length; i++) {
                corrects[i].addEventListener('click', function() {

                    // Background set to green
                    corrects[i].style.backgroundColor = 'Green';

                    // Go to parent element of correct button and find the first element with class "feedback" which has that parent
                    corrects[i].parentElement.querySelector('.feedback').innerHTML = 'Correct!';
                });
            }

            // When incorrect answer is clicked, change colour to Red
            let incorrects = document.querySelectorAll('.incorrect');
            for (let i = 0; i < incorrects.length; i++) {
                incorrects[i].addEventListener('click', function() {

                    // Set background color to Red
                    incorrects[i].style.backgroundColor = 'Red';

                    // Go to parent element of correct button and find the first element with class "feedback" which has that parent
                    incorrects[i].parentElement.querySelector('.feedback').innerHTML = 'Incorrect';

                });
            }

            //Free response submission
            document.querySelector('#check').addEventListener('click', function() {
                let input = document.querySelector('input');
                if (input.value === 'A basis of R^n diagonalizing A is called an eigenbasis') {
                    input.style.backgroundColor = 'green';
                    input.parentElement.querySelector('.feedback').innerHTML = 'Correct!';
                }
                else {
                    input.style.backgroundColor = 'red';
                    input.parentElement.querySelector('.feedback').innerHTML = 'Incorrect';
                }
            });
        });
    </script>
</head>
<body>

        <!-- this is a navbar from boostrap -->
        <nav class = "navbar navbar-expand-md navbar-light bg-light border">
            <ul class = "navbar-nav mr-auto mt-2">

                <li class="nav-item">
                    <a class ="nav-link" href="index.html">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class ="nav-link" href="quotes.html">
                        Quotes
                    </a>
                </li>

                <li class="nav-item">
                    <a class ="nav-link" href="books.html">
                        Books
                    </a>
                </li>

                <li class="nav-item">
                    <a class ="nav-link" href="sentencer.html">
                        Sentencer
                    </a>
                </li>

            </ul>
        </nav>

        <div class="header">
            <h1>Daily Quiz!</h1>
        </div>

        <div class="container">
            <div class="section">
                <h2><span style="color: green">1. Daily affirmation</span></h2>
                <h3>Are you good at math?</h3>

                <button class = "incorrect">No</button>
                <button class = "incorrect">No</button>
                <button class = "correct">Yes</button>
                <button class = "incorrect">No</button>
                <button class = "incorrect">No</button>
                <p class="feedback"></p>
            </div>

        <div class="section">
            <h2><span style="color: green">2. The question!</span></h2>
            <h3> What is the definition of an eigenbasis?</h3>
            <input type="text"></input>
            <button id="check">Check Answer</button>
            <p class="feedback"></p>
        </div>

    </body>
</html>