{% extends "layout.html" %}

{% block title %}
    Matching
{% endblock %}

{% block main %} 
  <h1>Welcome to MusicMatch!</h1>
  <p>
      On this site, you will be able to experiment with the Spotify API. After logging in with your Spotify, 
      you'll be able to make playlists based on inputs, get song recommendations, search up the danceability of
      songs, and more! 

      Please input a song title: 
      <form action="/action_page.php">
          <label for="song1">Song 1:</label>
          <input type="text" id="song1" name="song1"><br><br>
          <!-- the "name" component is the request.form.get in python  -->
          <!-- you must add this name component to some kind of database -->
          <label for="song2">Song 2:</label>
          <input type="text" id="song2" name="song2"><br><br>
          <label for="song3">Song 3:</label>
          <input type="text" id="song3" name="song3"><br><br>
          <label for="song2">Song 4:</label>
          <input type="text" id="song4" name="song4"><br><br>
          <label for="song2">Song 5:</label>
          <input type="text" id="song5" name="song5"><br><br>
          <label for="song2">Song 6:</label>
          <input type="text" id="song6" name="song6"><br><br>
          <label for="song2">Song 7:</label>
          <input type="text" id="song7" name="song7"><br><br>
          <label for="song2">Song 8:</label>
          <input type="text" id="song8" name="song8"><br><br>
          <label for="song2">Song 9:</label>
          <input type="text" id="song9" name="song9"><br><br>
          <label for="song2">Song 10:</label>
          <input type="text" id="song10" name="song10"><br><br>
          <input type="submit" value="Submit">
      </form>
  </p>
  {% endblock %}
