<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Poppins'>
    <link href="../static/styles.css" rel="stylesheet" type="text/css">
    <title>Log In</title>
  </head>

  <body>
    <h1>
      Problem Set Buddy Finder
    </h1>
    <h2>
      Sign In Below:
      <div>
        <input class="textbox" type="text" id="email" placeholder="Harvard Email Address"><br><br>
        <input class="textbox" type="text" id="password" placeholder="Password">
      </div>
      <div>
        <button class= "button" id="logIn">Log In!</button>
      </div>
    </h2>
    
  </body>
</html>